<div class="container pt-5">

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <!-- REstaurant::CATEORY comes from the restaurant model -->

    <%= f.submit %>
  <% end %>

</div>
